{% extends 'base_content.html' %}
{% block content %}

    <h1>Find another user</h1>

    <form method="get">
        <input type="text" name="query" value="{{ search_query }}" placeholder="Type a username...">
        <button type="submit">Search</button>
    </form>

    {% if search_query %}
        <hr>
        <h3>Results for "{{ search_query }}":</h3>

        {% if results %}
            <ul>
                {% for user in results %}
                    <li>
                        {% include "partials/user_avatar.html" with user=user %}
                        {{ user.username }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No users found</p>
        {% endif %}
    {% endif %}

{% endblock %}